// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.overview-page {
  width: 100%;
  height: 100vh;
  background-color: #FE6726;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-card {
  background-color: white;
  width: 100%;
  height: 600px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: fixed;
  bottom: 0;
}

.tasks-dashboard {
  background-color: white;
  width: 560px;
  height: 650px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border-radius: 15px;

  // puts dashboard to the front
  position: absolute;
  z-index: 1;
}

/* Dashbaord top section  */

.dashboard-top {
  color: #FE6726;
  text-align: center;
  font-weight: lighter;
  padding: 34px;
  margin: 5px auto;
  border-bottom: 1px solid #f1f1f1;

}

/* Dashbaord middle section  */

.dashboard-middle {
  width: 100%;
  height: 432px;
  overflow: scroll;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-container {
  background-color: white;
  border: solid 1px #f1f1f1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding: 20px 25px;
  margin: 27px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 100px 320px 10px;


  .task-title {
    size: 10px;
    text-decoration: none;
    color: black;
    opacity: 45%;
  }

  .action-icons {
    width: 40px;
    justify-content: space-between;
  }

  .centered {
    display: flex;
    align-items: center;
  }
}

.task-container:hover {
  border: solid 1px #ffa883;
}

/* Dashbaord bottom section  */

.dashboard-bottom {
  border-top: 1px solid #f1f1f1;
  width: 100%;
  height: 101px;
}

.button_to {
  display: flex;
}
