.task-status {
  background-color: white;
  border-radius: 10px;
  border: solid 1px #f1f1f1;
  padding: 10px;
  margin: 30px 40px;
  display: grid;
  grid-template-columns: 55px 320px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  // border: solid 1px #ffa883;

  i {
    display: flex;
    align-items: center;
  }
}

.task-description {
  background-color: white;
  width: 450px;
  height: 200px;
  border: solid 1px #f1f1f1;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding: 8px;
  margin: 10px 40px 30px 40px;
}
