.form-header {
  color: #FE6726;
  margin: 20px 0px 5px 45px;
  font-size: 15px;
  font-weight: 500;
}

.create-task-title {
  background-color: white;
  border: solid 1px #f1f1f1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  height: 20px;
  width: 450px;
  padding: 8px;
  margin: 10px 40px 50px 40px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 100px 320px;
}

.create-task-description {
  background-color: white;
  border: solid 1px #f1f1f1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding: 8px;
  margin: 10px 40px 30px 40px;
  border-radius: 10px;
  width: 450px;
  height: 200px;
}

.btn-create-task {
  background-color: #FE6726;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
  padding: 20px 150px;
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border-radius: 15px;
  margin: 20px 100px;
}

.btn-create-task:hover {
    background-color: #ce5421;
}
