.task-status {
  border-radius: 10px;
  padding: 10px;
  margin: 30px 40px;
  display: grid;
  grid-template-columns: 55px 320px;

  i {
    display: flex;
    align-items: center;
  }
}

.status-text {
  font-size: 15px;
  opacity: 45%;
}

.task-description {
  background-color: white;
  width: 450px;
  height: 200px;
  border-radius: 10px;
  border: solid 1px #f1f1f1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  opacity: 80%;
  padding: 15px;
  margin: 10px auto 30px auto;
}
