// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: #FE6726
};

.tasks-overview {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
};

.tasks-overview-container {
  background-color: rgb(247, 245, 242);
  width: 60%;
  height: 750px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;
  border-radius: 5px;
}

.main-header {
  color: black;
  text-align: center;
  margin-left: 20px;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-container {
  background-color: rgb(247, 245, 242);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;
  padding: 20px 15px;
  margin: 20px;
  border-radius: 5px;
}

.task-title {
  color: black;
  size: 10px;
  text-decoration: none;
}
