
<div class="tasks-overview">

  <div class="tasks-overview-container">
    <h1 class="main-header">Tasks to be completed:</h1>
    <ul class="task-list">
      <% @tasks.each do |task| %>
        <li class="task-container">
          <p class="task-title"><%=link_to task.title, task_path(task)%></p>
          <div class="icons">
            <%=link_to delete_task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash-alt"></i>
            <%end%>
            <%=link_to edit_task_path(task), method: :edit do %>
            <i class="fas fa-edit"></i>
          </div>
          <%end%>
        </li>
      <% end %>
    </ul>

    <%= link_to "add a task", new_task_path %>
  </div>
</div>
