<div class="overview-page">
    <div class="background-card"></div>
    <div class="tasks-overview-container">
      <h1 class="container-header">Task Title: <b><%= @task.title %></b></h1>

      <p><%= @task.details %></p>
      <%if @task.completed == true%>
        <p>[x] This task is completed!</p>
      <%else%>
        <p>[ ] This task is yet to be completed.</p>
      <%end%>
      <%= link_to "Go back to task list", tasks_path%>
      <%= link_to "Edit task", edit_task_path %>
    </div>
</div>
