<div class="overview-page">
  <div class="background-card"></div>
  <div class="tasks-dashboard">
    <h1 class="dashboard-top"> Task: <strong><%= @task.title %></strong></h1>

    <div class="dashboard-middle">
      <div class="task-status">
        <%if @task.completed == true%>
          <i class="far fa-check-square fa-2x"></i>
          <p>This task is completed!</p>
        <%else%>
          <i class="far fa-square fa-2x"></i>
          <p>Click to mark task completed</p>
        <%end%>
      </div>
      <h1 class="form-header">Description:</h1>
      <div class="task-description"><%= @task.details%></div>
    </div>
    <div class="dashboard-bottom">
      <%= link_to "Go back to task list", tasks_path%>
    </div>
  </div>
</div>

        <%# <%=button_to edit_task_path(@task), {method: "get", class: 'btn-edit-task'} do %>
          <%# <i class="fas fa-edit fa-lg"></i> %>
        <%# <%end%>
