<div class="overview-page">
    <div class="background-card"></div>
    <div class="tasks-overview-container">
      <h1 class="container-header">Task: <b><%= @task.title %></b></h1>

      <div class="task-status-container">
        <%if @task.completed == true%>
          <i class="fas fa-circle fa-2x"></i>
          <p> This task is completed!</p>
        <%else%>
          <i class="far fa-circle fa-2x"></i>
          <p>This task is yet to be completed</p>
        <%end%>
      </div>

      <div class="task-description-container">
        <p><%= @task.details %></p>
        <%=button_to edit_task_path(@task), {method: "get", class: 'btn-edit-task'} do %>
          <i class="fas fa-edit fa-lg"></i>
        <%end%>
      </div>
      <%= link_to "Go back to task list", tasks_path%>
    </div>
</div>
